<footer class="site-footer">
  <!--<div class="social-bar">
    <ul class="social-item-container">
      <li class="social-item"><a href="/">Facebook</a></li>
      <li class="social-item"><a href="/">Instagram</a></li>
      <li class="social-item"><a href="/">Twitter</a></li>
    </ul>
  </div>-->
  <div class="footer-content">
    <ul class="footer-link-container">
      <li class="footer-item">
        <a class="footer-item-link" href="/testimonials/">Testimonials</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link" href="/faq/">FAQ</a>
      </li>
      <li class="footer-item footer-logo-container">
        <a class="footer-item-link" href="/"><img class="footer-logo" src="/images/logo-text.svg" alt="Dirt Road Gourmet"></a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link" href="/recipes/">Recipes</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link" href="/contact">Contact</a>
      </li>
    </ul>
    <p><a class="footer-title" href="tel:+13348573521">334-857-3521</a></p>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit'></script>
<script src="/js/app.js"></script>
<script src="/js/captcha.js"></script>
