<header class="header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(/images/greentomato.jpg);">
  <div class="vertical">
    <div class="container">
      <div class="header-container">
        <h1 class="header-title">Dirt Road</h1>
        <h1 class="header-sub-title">Gourmet</h1>
      </div>
      <p class="header-text">Our new website is coming soon!.</p>
      <a class="button button-alt fade-in-slower" href="#learnmore">Learn More</a>
    </div>
  </div>
</header>
