
.site-footer{
  width: 100%;
  font-size: 80%;
  float: left;
  border-top: 2px solid $color-grey-light;
}
.social-bar{
  background: $color-grey-light;
  width: 100%;
  text-align: center;
  padding: 3em 0;
  line-height: 0;

}
.social-item-container{
  margin: 0;
}
.social-item{
  display: inline-block;
  font-family: $alt-font-family;
  text-transform: uppercase;
  margin: 0 1em;
}

.footer-content{
  text-align: center;
  padding: 5em 0 1em;
  p{
    color: $color-white;
    text-transform: uppercase;
    font-family: $header-font-family;
    letter-spacing: .3em;
    margin-bottom: $spacing-unit / 4;
  }
}
.footer-link-container{
  margin: 0;
  padding-bottom: $spacing-unit / 2;
}
.footer-item{
  display: inline-block;
  font-family: $alt-font-family;
  text-transform: uppercase;
  margin: 0 1em;
}
a.footer-item-link{
color: $color-black;
}
.footer-logo{
  margin-top: -.5em;
  height: 4em;
  width: auto;
}
a.footer-title{
  color: $color-black;
  text-transform: uppercase;
  font-family: $alt-font-family;
  letter-spacing: .1em;
  text-decoration: none;
}
